<% day.contents.order(position: :asc).each do |content| %>
  <div class="card content-card">
    <div class="card-body">
      <div class="d-flex">
        <div class="content-img"
             style="background-image:url(<%= content.image.attached? ? cl_image_path(content.image.key) : image_url("no_img.jpg") %>);">
        </div>
        <div class="d-flex flex-column justify-content-between flex-grow-1">
          <div class="d-flex align-items-center">
            <div class="px-2">
              <%= render 'category_icon', category: content.category.title %>
            </div>
            <div class="flex-grow-1">
              <h5 class="card-title"><%= content.name %></h5>
            </div>
            <%= link_to category_path(content.category), class:"btn btn-outline-dark btn-tabinow btn-add-content", data: { turbo_method: :delete  , turbo_confirm: "Remove #{content.name}?" } do %>
              <i class="fa-solid fa-xmark"></i>
            <% end %>
          </div>
          <div class="ms-3 d-flex flex-column">
            <h6 class="card-subtitle my-2 text-muted">
              <i class="fa-solid fa-location-dot"></i> <%= content.location %>
              <!--
              <div class="mt-1">
                <% if content.category.sub_category == "Lunch"%>
                  <i class="fa-solid fa-sun"></i> Lunch
                <% elsif content.category.sub_category == "Dinner" %>
                  <i class="fa-solid fa-moon"></i> Dinner
                <% elsif content.category.sub_category == "Museum" %>
                  <i class="fa-solid fa-building-columns"></i> Museum
                <% elsif content.category.sub_category == "Historic Sites" %>
                  <i class="fa-solid fa-monument"></i> Historic Sites
                <% end %>
              </div>
              -->
            </h6>
            <p class="card-text line-clamp"><%= content.description %></p>
            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center gap-2">
                <p class="m-0 user-select-none text-info">
                  <% content.rating.to_i.times do %>
                    <i class="fa-solid fa-star"></i>
                  <% end %>
                  <% (5 - content.rating.to_i).times do %>
                    <i class="fa-regular fa-star"></i>
                  <% end %>
                </p>
                <% if content.category.title == "Accommodation" %>
                  <p class="tag available">Available</p>
                <% elsif content.category.sub_category == "Lunch" %>
                  <p class="tag recommended">Lunch spot</p>
                <% elsif content.category.sub_category == "Dinner" %>
                  <p class="tag recommended">Dinner spot</p>
                <% end %>
                <% if content.rating.to_f > 4.6 %>
                  <p class="tag popular">Popular</p>
                <% end %>
              </div>
              <div class="mb-0 d-flex align-items-center gap-2">
                <% if content.category.title == "Accommodation" %>
                <a href="#" class="btn btn-tabinow btn-primary px-2 py-1 small-font">Book now <i class="fa-solid fa-arrow-up-right-from-square ps-1"></i></a>
                <% end %>
                <h5 class="mb-0">
                  <%= content.price.zero? ? "" : number_to_currency(content.price, precision: 0, unit: "$") %>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
