<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createModalLabel">New itinerary</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" data-controller="loading">
        <%= simple_form_for itinerary , data: { turbo: :false }, html: { data: { loading_target: "form" , action: "submit->loading#generate" } } do |f| %>
          <div class="row" data-controller="form">
            <div class="mb-1 col-12">
              <%= f.input :location, label: "Tour destination", placeholder: "Tokyo" %>
            </div>
            <div class="mb-1 col-12 col-md-6">
              <%= f.input :start_date, class:"form-control", html5: true, input_html: { min: Time.now.to_s[0...10], data: { form_target:"startDate", action: "change->form#setEndDate" }} %>
            </div>
            <div class="mb-1 col-12 col-md-6">
              <%= f.input :end_date ,class:"form-control", html5: true, input_html: { min: Time.now.to_s[0...10] , data: { form_target:"endDate" }} %>
            </div>
            <div class="mb-1 col-6">
              <%= f.label :min_budget, 'Min Budget/Day ($USD)', class:"form-label" %>
              <%= f.input :min_budget, class:"form-control", step:"1000", min:"0", required: true, label: false, placeholder: "100" %>
            </div>
            <div class="mb-1 col-6">
              <%= f.label :max_budget, 'Max Budget/Day ($USD)', class:"form-label" %>
              <%= f.input :max_budget, class:"form-control", step:"1000", min:"0", required: true, label: false, placeholder: "250" %>
            </div>
            <div class="mb-1 col-12">
              <%= f.input :special_request, label:"Note", class:"form-control", placeholder: "e.g. Include Disneyland." %>
            </div>
            <div class="col-12 mt-2">
              <%= f.submit "Generate", class: 'btn btn-primary btn-tabinow mt-2 w-100' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
