<div class="pdf-container">
  <h1 class="text-center text-dark"><%= itinerary.title %></h1>
  <h3 class="text-center text-secondary"><%= "From #{itinerary.start_date.strftime("%A, %b %d")} to #{itinerary.end_date.strftime("%A, %b %d")}" %></h3>
  <% itinerary.days.each_with_index do |day, day_index| %>
    <div class="mb-4">
      <div class="day-number">
        <h2 class="mb-0"> <%= "#{(day_index + 1).ordinalize} day" %> </h2>
        <h2 class="mb-0"><%= (itinerary.start_date + day_index).strftime("%A, %b %d") %></h2>
      </div>
      <div class="pdf-contents">
        <% day.contents.order(position: :asc).each_with_index do |content, content_index| %>
          <div class="d-flex mb-3">
            <div class="time">
              <p class="text-center text-secondary mb-0 ms-2">
                <% if content_index < 2 %>
                  <i class="fa-solid fa-sun"></i> <strong>AM</strong>
                <% elsif content_index >= 2 && content_index <= 3 %>
                  <i class="fa-solid fa-moon"></i> <strong>PM</strong>
                <% elsif content_index > 3 %>
                  <i class="fa-solid fa-cloud-moon"></i> <strong>PM</strong>
                <% end %>
              </p>
            </div>
            <div class="px-2">
              <%= render 'category_icon', category: content.category.title %>
            </div>
            <div class="flex-grow-1">
              <h5 class="mb-0"><%= content.name %></h5>
              <div class="text-muted">
                <i class="fa-solid fa-location-dot"></i> <%= content.location %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
