<div class="card mb-3">
  <div class="card-body">
    <%= form_with url: itinerary_path(itinerary), method: :get,
                      data: {
                        search_target: "form",
                        action: "submit->search#search"
                      } do %>
      <div class="d-flex search-container">
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "search", data: {search_target: "query", action: "keyup->search#search"}%>
        <%= hidden_field_tag :day, params[:day], data: {search_target: "day"} %>
        <%= button_tag type:"search", class:"btn btn-primary btn-tabinow ms-2" do  %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      </div>
      <div class="filters-container">
        <div class="filter-pill accommodation"
                 data-search-target="filterAccommodation"
                 data-action="click->search#filterAccommodations">
          <i class="fa-solid fa-bed"></i> Hotel
        </div>
        <div class="filter-pill activity"
                 data-search-target="filterActivity"
                 data-action="click->search#filterActivities">
          <i class="fa-solid fa-camera"></i> Activity
        </div>
        <div class="filter-pill restaurant"
                 data-search-target="filterRestaurant"
                 data-action="click->search#filterRestaurants">
          <i class="fa-solid fa-utensils"></i> Restaurant
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="results-container" data-search-target="results">
  <% if params[:query].present? %>
    <%= render 'results', contents: contents, params: params %>
  <% end %>
</div>
