<div
  class="sidebar"
  data-controller="sidebar"
  data-action="resize@window->sidebar#collaspe"
  data-action="open@window->sidebar#collaspe">
  <button class="btn btn-sm btn-light shadow-sm sidebar-toggle-btn" data-action="click->sidebar#toggle" data-sidebar-target="button"><i class="fa-solid fa-chevron-left"></i></button>
  <div class="sidebar-container flex-shrink-0 p-2"
       data-sidebar-target="content">
    <div class="sidebar-top">
      <div class="mb-4">
        <div class="px-2">
          <%= link_to itineraries_path, class:"link-secondary text-decoration-none text-uppercase" do %>
            <i class="fa-solid fa-chevron-left"></i> Dashboard
          <% end %>
          <h1 class="mt-4"><%= @itinerary.title %></h1>
          <p class="sidebar-itinerary-info text-muted">
            <i class="fa-solid fa-location-dot me-1"></i>
            <%= @itinerary.location %>
          </p>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary btn-tabinow d-block my-2 w-100" data-bs-toggle="modal" data-bs-target="#editModal">
          <i class="fa-solid fa-pen-to-square"></i> Change name
        </button>
      </div>
      <div class="sidebar-links-container">
        <ul class="nav nav-pills flex-column mb-auto w-100">
          <li class="nav-item">
            <%= link_to 'Overview', itinerary_path(@itinerary), class:"nav-link sidebar-link #{'active' if !params[:day].present?}", "aria_current": "page" %>
          </li>
          <% itinerary.days.each do |day| %>
            <li class="nav-item">
              <%= link_to "Day #{day.number}", itinerary_path(@itinerary, day: day.number), class:"nav-link sidebar-link #{'active' if params[:day].to_i == day.number}" %>
            </li>
          <% end %>
          <!--
          <li class="nav-item">
            <%= link_to '#', class:"btn btn-sm btn-add-day" do %>
              <i class="fa-solid fa-plus me-1"></i> Add day
            <% end %>
          </li>
          -->
        </ul>
      </div>
    </div>
    <div class="sidebar-bottom mb-5">
      <h3>Estimated total:</h3>
      <p class="text-end me-2 fs-4">≈ <%= number_to_currency(itinerary.total_budget, precision: 0, unit: "$") %></p>
      <hr>
      <% if user_signed_in? %>
        <div style="width: 100%" data-controller="share"  data-share-url-value="<%= preview_itinerary_url(itinerary)%>" >
          <%= link_to preview_itinerary_path(itinerary) , class:"btn btn-sm btn-outline-secondary btn-tabinow d-block mb-2" do %>
            <i class="fa-solid fa-eye"></i> Preview
          <% end %>
        </div>
        <%= link_to download_itinerary_path(itinerary) , class:"btn btn-sm btn-outline-primary btn-tabinow d-block mb-2" do %>
          <i class="fa-solid fa-download"></i> Download
        <% end %>
        <%= link_to itinerary_path(itinerary), class:"btn btn-sm btn-outline-dark btn-tabinow d-block", data: { turbo_method: :delete  , turbo_confirm: "Deleting #{itinerary.title} itinerary ?" } do %>
          <i class="fa-solid fa-xmark"></i> Delete
        <% end %>
      <% else %>
        <small>Want to save itinerary?</small>
        <%= link_to    new_user_registration_path(itinerary_id: itinerary.id), class:"btn btn-sm btn-outline-primary btn-tabinow d-block my-2" do %>
          <i class="fa-solid fa-user-plus"></i> Sign up now
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<!-- Edit Modal -->
<%= render 'edit_modal', itinerary: itinerary %>
