<tr>
  <td><%= link_to itinerary.name, itinerary_path(itinerary) %></td>
  <td>
    <div class="status-pill <%=itinerary.status %>">
      <span><%=itinerary.status %></span>
    </div>
  </td>
  <td><%= itinerary.client.name %></td>
  <td>
    <%= link_to '#', class:"btn btn-sm btn-outline-secondary btn-tabinow" do %>
      <i class="fa-regular fa-envelope"></i> Send
    <% end %>
    <%= link_to itinerary_path(itinerary), class:"btn btn-sm btn-outline-primary btn-tabinow", data: { turbo_method: :delete  , turbo_confirm: "Deleting #{itinerary.name} itinerary ?" } do %>
      <i class="fa-solid fa-xmark"></i> Delete
    <% end %>
  </td>
  <td class="special-request text-truncate d-inline-block">
    <%= itinerary.special_request %>
  </td>
  <td>
    <%= time_ago_in_words(itinerary.updated_at, include_seconds: true) %> ago
  </td>
</tr>
