<tr>
  <td>
    <%= link_to itinerary.title, itinerary_path(itinerary) %>
  </td>
  <td>
    <div class="status-pill <%=itinerary.status %>">
      <span><%=itinerary.status %></span>
    </div>
  </td>
  <!--
  <td>
    <%= itinerary.client ? itinerary.client.name : "-" %>
  </td>
  -->
  <td>
    <div class="d-flex justify-content-evenly align-items-center">
      <%= link_to 'Download', '#', class:"btn btn-sm btn-outline-secondary btn-tabinow" %>
      <%= simple_form_for itinerary , class: "m-0" do |f| %>
        <%#= f.input :archived, as: :hidden , input_html: { value: true} %>
        <div class="hidden itinerary_archived">
          <input class="form-contnrol hidden" value="true" autocomplete="off" type="hidden" name="itinerary[archived]" id="itinerary_archived">
        </div>
        <%= f.submit "Archive", class:"btn btn-sm btn-outline-primary btn-tabinow ms-1" %>
      <% end %>
    </div>
  </td>
  <td>
    <div class="special-request text-truncate d-block">
      <%= itinerary.special_request ? itinerary.special_request : "-" %>
    </div>
  </td>
  <td>
    <%= time_ago_in_words(itinerary.updated_at, include_seconds: true) %> ago
  </td>
</tr>
