<tr>
  <td><%= pluralize(itinerary.days.count, 'Day') %> in <%= itinerary.location %></td>
  <td>
    <div class="status-pill <%=itinerary.status %>">
      <span><%=itinerary.status %></span>
    </div>
  </td>
  <td>3</td>
  <td>4</td>
  <td>
    <%= link_to itinerary_path(itinerary), class:"btn btn-sm btn-outline-secondary btn-tabinow" do %>
      <i class="fa-solid fa-pen-to-square"></i> Edit
    <% end %>
    <%= link_to '#', class:"btn btn-sm btn-outline-primary btn-tabinow" do %>
      <i class="fa-regular fa-envelope"></i> Send
    <% end %>
    <%= link_to '#', class:"btn btn-sm btn-outline-dark btn-tabinow" do %>
      <i class="fa-solid fa-xmark"></i> Delete
    <% end %>
  </td>
</tr>
