<%= render "shared/sidebar", itinerary: @itinerary %>
<div class="generator-container">
  <div class="left-container">
    <!-- days -->
    <% if params[:day].present? %>
      <%= render 'itineraries/day', day: @day %>
    <% else %>
      <% @itinerary.days.count do |day| %>
        <%= render 'itineraries/day', day: day %>
      <% end %>
    <% end %>
    <!-- content -->
    <div class="content-cards-container">
      <% if  params[:day].present? %>
        <% @day.contents.each do |content| %>
          <%= render 'content', content: content %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="right-container">
    <!-- TEMPORARY placeholder stuff START -->
    <div class="card my-3">
      <div class="card-body">
        <%= form_with url: "#", method: :get, class: "" do %>
          <input type="text" placeholder="Search" class="form-control">
          <span class="badge rounded-pill text-bg-primary text-white py-2 mt-2">Filter</span>
          <span class="badge rounded-pill text-bg-primary text-white py-2 mt-2">Another Filter</span>
          <span class="badge rounded-pill text-bg-primary text-white py-2 mt-2">One More Filter</span>
          <span class="badge rounded-pill text-bg-primary text-white py-2 mt-2"><%= submit_tag "Search" %></span>
        <% end %>
      </div>
    </div>
    <div class="results-container">
      <% @itinerary.days.each do |day| %>
        <% day.contents.each do |content| %>
          <%= render 'content', content: content %>
        <% end %>
      <% end %>
    </div>
    <!-- TEMPORARY placeholder stuff ENDS -->
  </div>
</div>
