<div class="loading-container d-none">
  <h2 class="mb-4">Generating...</h2>
  <div class="spinner-border text-primary m-3" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<%= render "sidebar", itinerary: @itinerary %>
<div class="generator-container">
  <div class="left-container">
    <% if params[:day].present? %>
      <%= render 'itineraries/day', day: @day %>
    <% else %>
      <%= render 'overview', itinerary: @itinerary %>
    <% end %>
    <% if  params[:day].present? %>
      <div class="content-cards-container">
        <% @day.contents.each do |content| %>
          <%= render 'content', content: content %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="right-container" data-controller="search">
    <% if params[:day].present? %>
      <%= render 'search_sidebar', itinerary: @itinerary, params: params, contents: @contents %>
    <% else %>
      <%= render 'overview_sidebar', itinerary: @itinerary %>
    <% end %>
  </div>
</div>
