<div class="footer">
  <div class="row">
    <div class="col-12 mb-2">
      <p class="copyright"><strong>TabiNow.com © <%= Time.now.year %></strong></p>
    </div>
    <div class="col-12 col-6 col-md-3">
      <%= link_to 'https://github.com/topherikaika', class:"link-light", target: "blank" do %>
        <p>
          <i class="fa-brands fa-github"></i>
          <span>topherikaika</span>
        </p>
      <% end %>
    </div>
    <div class="col-12 col-6 col-md-3">
      <%= link_to 'https://github.com/hafid-Qa', class:"link-light", target: "blank" do %>
        <p>
          <i class="fa-brands fa-github"></i>
          <span>hafid-Qa</span>
        </p>
      <% end %>
    </div>
    <div class="col-12 col-6 col-md-3">
      <%= link_to 'https://github.com/twk-mn', class:"link-light", target: "blank" do %>
        <p>
          <i class="fa-brands fa-github"></i>
          <span>twk-mn</span>
        </p>
      <% end %>
    </div>
    <div class="col-12 col-6 col-md-3">
      <%= link_to 'https://github.com/joycehwchan', class:"link-light", target: "blank" do %>
        <p>
          <i class="fa-brands fa-github"></i>
          <span>joycehwchan</span>
        </p>
      <% end %>
    </div>
  </div>
</div>
