<div
  class="sidebar"
  data-controller="sidebar"
  data-action="resize@window->sidebar#collaspe"
  data-action="open@window->sidebar#collaspe">
  <button class="btn btn-sm btn-light shadow-sm sidebar-toggle-btn" data-action="click->sidebar#toggle" data-sidebar-target="button"><i class="fa-solid fa-chevron-left"></i></button>
  <div class="sidebar-container flex-shrink-0 p-2"
       data-sidebar-target="content">
    <div class="sidebar-top">
      <div class="mt-3 px-2">
        <h1 class=""><%= pluralize(@itinerary.days.count, 'Day') %> in <%= @itinerary.location %></h1>
        <p class="sidebar-itinerary-location">
          <i class="fa-solid fa-location-dot"></i>
          <%= @itinerary.location %>
        </p>
      </div>
      <div class="sidebar-links-container">
        <ul class="nav nav-pills flex-column mb-auto w-100">
          <li class="nav-item">
            <%= link_to 'Overview', itinerary_path(@itinerary), class:"nav-link sidebar-link #{'active' if !params[:day].present?}", "aria_current": "page" %>
          </li>
          <% itinerary.days.each do |day| %>
            <li class="nav-item">
              <%= link_to "Day #{day.number}", itinerary_path(@itinerary, day: day.number), class:"nav-link sidebar-link #{'active' if params[:day].to_i == day.number}" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="sidebar-bottom mb-5">
      <hr>
      <%= link_to 'Back to dashboard', itineraries_path, class:"btn btn-tabinow btn-secondary w-100 float-end" %></div>
  </div>
</div>
