<div class="w-100 bg-secondary">
  <div class="form-container">
    <h2 class="text-center mb-3">Request an itinerary designed for you now!</h2>
    <%= simple_form_for @itinerary , data: { turbo: :false } do |f| %>
      <div class="row">
        <div class="col-12">
          <%= label_tag 'Email', nil, class:"form-label" %>
          <%= text_field_tag :email, nil, class:"form-control" %>
        </div>
        <div class="col-3">
          <%= label_tag 'No. of days', nil, class:"form-label" %>
          <%= number_field_tag :number_of_days, nil, class:"form-control" %>
        </div>
        <div class="col-9">
          <%= f.input :location %>
        </div>
        <div class="col-12">
          <%= f.submit "Submit request", class: 'btn btn-primary btn-tabinow mt-2 w-100' %>
        </div>
      </div>
    <% end %>
  </div>
