<div class="home-container">
  <div class="top-section">
    <h1>Design your <span class="text-primary">trip</span> with</h1>
    <h1>a few clicks.</h1>
    <h3 class="mt-4 text-white">Travel planning has never been easier.</h3>
    <%= link_to "Start now", start_path, class:"btn btn-lg btn-primary btn-tabinow mt-4" %>
  </div>
  <div class="section-about">
    <%= render 'section_about' %>
  </div>
  <div class="section-quote">
    <i class="fa-solid fa-quote-left quote"></i>
    <p class="quote"><span id="quote"></span></p>
    <i class="fa-solid fa-quote-right quote"></i>
  </div>
  <div class="section-steps">
    <%= render "section_steps" %>
  </div>
  <div class="section-reviews">
    <%= render "section_reviews" %>
  </div>
  <%= render "shared/footer" %>
</div>
