<div class="home-container">
  <div class="home-section top-section">
    <div class="top-section-left">
      <h1>Welcome to TabiNow</h1>
      <img class="image-top-left" src="https://images.unsplash.com/photo-1488646953014-85cb44e25828?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1635&q=80" alt="Travel Plan">
    </div>
    <div class="top-section-right">
      <div class="form-container">
        <h2 class="text-center mb-3">Request an itinerary now!</h2>
        <%= simple_form_for @itinerary , data: { turbo: :false } do |f| %>
          <div class="row">
            <div class="col-12">
              <%= label_tag 'Email', nil, class:"form-label" %>
              <%= text_field_tag :email, nil, class:"form-control" %>
            </div>
            <div class="col-12 col-md-4">
              <%= label_tag 'No. of days', nil, class:"form-label" %>
              <%= number_field_tag :number_of_days, nil, class:"form-control" %>
            </div>
            <div class="col-12 col-md-8">
              <%= f.input :location %>
            </div>
            <div class="col-12">
              <%= f.submit "Submit request", class: 'btn btn-primary btn-tabinow mt-2 w-100' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="home-section">
    <h2>Home section 2</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ratione maxime sed enim adipisci eaque. Iste, nemo velit soluta neque deleniti asperiores ea dolor fugiat reprehenderit, perferendis, autem commodi suscipit!</p>
  </div>
  <div class="home-section">
    <h2>Home section 3</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ratione maxime sed enim adipisci eaque. Iste, nemo velit soluta neque deleniti asperiores ea dolor fugiat reprehenderit, perferendis, autem commodi suscipit!</p>
  </div>
  <div class="home-section">
    <h2>Home section 4</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ratione maxime sed enim adipisci eaque. Iste, nemo velit soluta neque deleniti asperiores ea dolor fugiat reprehenderit, perferendis, autem commodi suscipit!</p>
  </div>
</div>
