<%= render "shared/sidebar" %>
<div class="container my-3">
  <h1>This is pages#home</h1>
  <hr>
  <h1>This is a heading 1</h1>
  <h2>This is a heading 2</h2>
  <h3>This is a heading 3</h3>
  <h4>This is a heading 4</h4>
  <hr>
  <p>This is a paragraph</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et perspiciatis assumenda sunt obcaecati est temporibus dolor fuga expedita exercitationem ducimus nulla nihil alias, asperiores saepe eum earum pariatur mollitia, consequuntur architecto. Deleniti vel veritatis voluptatum asperiores minus rerum laudantium aspernatur?</p>
  <hr>
  <%= link_to 'CTA button', '#', class:"btn btn-tabinow btn-primary" %>
  <%= link_to 'CTA button', '#', class:"btn btn-tabinow btn-outline-primary" %>
  <%= link_to 'CTA button', '#', class:"btn btn-tabinow btn-secondary" %>
  <%= link_to 'CTA button', '#', class:"btn btn-tabinow btn-outline-secondary" %>
  <hr>
  <div class="items-container">
    <div class="item-icon">
      <i class="fa-solid fa-camera"></i>
    </div>
    <div class="item-icon">
      <i class="fa-solid fa-utensils"></i>
    </div>
    <div class="item-icon">
      <i class="fa-solid fa-bed"></i>
    </div>
    <div class="item-icon">
      <i class="fa-solid fa-bus-simple"></i>
    </div>
  </div>
  <hr>
</div>
<div>
  <%= simple_form_for @itinerary , data: { turbo: :false } do |f| %>
    <%= f.input :email , require: true %>
    <%= label_tag 'Number of days' %>
    <%= number_field_tag :number_of_days %>
    <%= label_tag 'location' %>
    <%= text_field_tag :location %>
    <%= f.submit class: 'btn btn-primary mt-2' %>
  <% end %>
</div>
