<!DOCTYPE html>
<html>
  <head>
    <title>Tabinow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Primary Tags -->
    <meta name="title" content="TabiNow">
    <meta name="description" content="Japan tour operator">
    <!-- Twitter -->
    <meta property="twitter:title" content="TabiNow">
    <meta property="twitter:description" content="Japan tour operator">
    <meta property="twitter:image" content="tabinow.tours/LINK_TO_EXPORTED_IMAGE.png">
    <meta property="twitter:url" content="tabinow.tours">
    <meta property="twitter:card" content="summary_large_image">
    <!-- Facebook -->
    <meta property="og:title" content="TabiNow">
    <meta property="og:description" content="Japan tour operator">
    <meta property="og:url" content="tabinow.tours">
    <meta property="og:image" content="tabinow.tours/LINK_TO_EXPORTED_IMAGE.png">
    <meta property="og:type" content="website">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
    <%= render "shared/navbar" %>
    <main>
      <%= render "shared/flashes" %>
      <%= yield %>
    </main>
  </body>
</html>
